@import 'comment_form.css';
.clear { clear: both; float: none; font-size: 7px; }
body { font-family: 'corbel', 'sans-serif'; font-size: 16px; margin: 0; padding: 1.5em 4em 2em 4em; width: 600px; margin: auto;}
h1   { color: #444; border-bottom: 4px solid #444; padding: 0em 1em 0.4em 0em; }
h2   { font-size: 120%; margin-top: 40px;}
h3   { font-size: 100%; }

pre  { color: #444; font-size: 90%; white-space: pre-wrap; white-space: -moz-pre-wrap !important; padding: 1em; border: 4px solid #fafafa;}
a    { color: #104EFF; }
ul   { margin: 0; padding: 0; }
.posts li   { list-style-type: none; margin-bottom: 1em; }
li span.perex  { font-size: 95%; color: #444; }

ul ul { margin-left: 30px; padding: 0;}

.posts .post, .article    { position: relative; }
.meta   { font-weight: normal; }
.year    { font-size: 16px; position: absolute; left: -70px; top: 30px;}
.month   { font-size: 16px; position: absolute; left: -100px; top: 30px;}
.day     { font-size: 28px; position: absolute; left: -80px; top: 0px;}
.title   { }

/*#article .body { border-bottom: 1px solid #ccc; }*/

#article .categories { font-size: 80%; color: #999; }

.comment       { margin: 1em 0 1em 0; border-bottom: 1px solid #fafafa; }

#comment_added_thanks { background: #bcfa96; padding: 0.2em 0.2em 0.2em 0.5em; }
#spam_deleted { background: #faf296; padding: 0.2em 0.2em 0.2em 0.5em; }

#comments .comment .comment_controls
  { background: #fff;
    border: 3px solid #2e364d;
    padding: 4px; margin: 0 0 0.5em 0;
    width: 10em; }

#admin_panel
{ font-size: 11px;
  font-family: 'Lucida Grande', Tahoma, sans-serif;
  color: #fff;
  background: #2e364d;
  border-top: 2px solid #fff;
  width: 100%;
  height: 35px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 900; }
#admin_panel_content
 { text-align: left;
   width: 98%;
   padding: 10px 0px 10px 0px;
   position:relative;
   margin: 0 auto; }
#admin_panel_content p
  { float: left;
    margin: 0 10px 0 0; }
#admin_panel_content input
  { margin: -5px 0 0 0; padding: 0; }
#admin_panel_content a
 { color: #fff !important; }

.container {
  padding-bottom: 60px;
}
.credentials {
  text-align: center;
  font-size: 12px; 
}
.about_me {
  float: right;
}