<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width = 750">
    <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/magula.css" type="text/css" media="screen" />    
    <link rel="stylesheet" href="/css/pygments.css">
    <title>{{ page.title }}</title>
  </head>
  <body>
    
    <div id="article">

      <div class="post">
        <h1>
          {{page.title}}
        </h1>

        <div class="body">
          {{ content }}
        </div>
      </div>
    </div>
    
    <hr class="footer">
    <div class="footer credentials">
    <a rel="license" href="http://creativecommons.org/licenses/by/3.0/"></a><br />The <span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/Text" rel="dc:type">contents of this blog</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
    </div>

  </body>
  
</html>


